<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CopyEB</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header>
    <a href="https://www.bt.dk/">
        <img src="BTLogo.PNG" class="Logo" class="logo">
    </a>

    <nav>
        <a href="https://www.bt.dk/nyheder">Nyheder</a>
        <a href="https://www.bt.dk/sport">Sport</a>
        <a href="https://www.bt.dk/underholdning">Underholdning</a>
    </nav>
</header>

<div class="container">
    <div class="leftPanel"></div>

    <div class="centerPanel">
        <div class="article1">
            <h1 class="article1Headline">LIGE NU:</h1>
        </div>
        <div class="article1Footer"></div>
    </div>

    <div class="rightPanel"></div>
</div>

</body>

</html>