<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CopyEB</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
<header>
    <a class="headerLink" href="https://www.bt.dk/">
        <img src="BTLogo.PNG" class="Logo" class="logo">
    </a>

    <nav>
        <a class="headerLink" href="https://www.bt.dk/nyheder">Nyheder</a>
        <a class="headerLink" href="https://www.bt.dk/sport">Sport</a>
        <a class="headerLink" href="https://www.bt.dk/underholdning">Underholdning</a>
    </nav>
</header>

<table>
    <tr>
        <td class="leftPanel"></td>
        <td class="centerPanel">
            <a class="articleLink" href="https://www.bt.dk/samfund/endnu-en-eb-chef-faar-advarsel-efter-brev-om-sexismekultur">
            <div class="article">
                <p class="headline">Afsløring:</p>
                <p class="headline2">Ny chef får</p>
                <p class="headline3">advarsel</p>
                <div class="ball1"></div>
                <div class="ball2"></div>
                <div class="ball3"></div>
            </div>
            </a>
        </td>
        <td class="rightPanel"></td>
    </tr>
</table>



</body>

</html>
