* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

header {
    display: block;
    background-color: #FFFFFF;
    text-color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    font-family: sans-serif;
    word-spacing: 45px;
    box-sizing: border-box;
    border-bottom: #D3D3D3;
    border-bottom-style: solid;
    border-width: 2px;
}

a:link {
    color: #000000;
    text-decoration: none;
}

a:visited {
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
    text-decoration: underline;
}

a:active {
    text-decoration: none;
    color: #000000;
}

.Logo {
    align: center;
    padding: 15px;
}

nav {
    padding: 5px;
}

.container {
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
}

.leftPanel {
    background: #F4F4F4;
    border-right-color: #D3D3D3;
    border-right-style: solid;
    border-width: 2px;
    height: 780px;
}

.rightPanel {
    background: #F4F4F4;
    border-left-color: #D3D3D3;
    border-left-style: solid;
    border-width: 2px;
    height: 780px;
}

.centerPanel {
    background: #EEEEEE;
    height: 780px;
}

.article1 {
    width: 925px;
    height: 400px;
    background: #FFDF4A;
    margin: 25px auto 25px auto;
    border-bottom: #D3D3D3;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

.article1Headline {
    font-family: sans-serif;
    color: #F03228;
    font-size: 180px;
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;

}